

<footer>
    <div class="container-fluid  bg-dark text-white">

        <div class="row justify-content-center d-flex">

            <div class=" col-lg-3 col-md-6 col-12 pt-3">
                <div class="text">
                    <p>A Brand For Products Originating In Kashmir</p>
                </div>
                <div class="social">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-youtube"></i>
                    <div class="play">
                        <i class="bi bi-google-play" style="margin-right: 15px;"></i>
                        <span>Download Our App </span>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 pt-5 text-start">
                <div class="links" style="padding-left: 80px;">
                    <h3>LINKS</h3>
                    <div>

                        <p> Home</p>
                        <p> About Us</p>
                        <p> Gallery</p>
                        <p> Contact</p>
                    </div>
                </div>
                <div>
                    <p>Copyright © 2024 Panun Kashmir Origin</p>
                    <p>PVT LTD | Powered by Kashmir Origin</p>
                </div>



            </div>
            <div class="col-lg-3 col-md-6 col-12 pt-5" style="padding-left: 40px;">
                <h3>POLICIES</h3>
                <p>Privacy Policy</p>
                <p>Shipping & Returns</p>
                <p>Terms and Conditions</p>

            </div>
            <div class="col-lg-3 col-md-6 col-12 pt-5 mb-5">
                <div class="line" style="padding-bottom: 20px; padding-left: 15px;">
                    <h3>DROP US A LINE</h3>
                </div>
                <h6>If you have any question, please contact us at</h6>
                <h6>contact@kashmirorigin.com</h6>
                <div class="build pt-5">
                    <i class="bi bi-building"></i> <span>Srinagar, Jammu and Kashmir, India,
                        190002</span>
                    <div>
                        <i class="bi bi-telephone-fill"></i> <span>+91876543208,9900998876</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>